/*
general tags
 */

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: #E83559;
    text-decoration: none;
}

button{
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 12px;
    padding: 6px 12px;
    cursor: pointer;
    pointer-events: all;
    background-color: #FDF6ED;
    outline: 0 !important;
    border-style: solid;
    border-color: #FDF6ED;
}

ul {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

li {
    display: list-item;
    width: 100%;
    pointer-events: auto;
}


table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid #404040;
    height: 1.5em;
    text-align: center;
    padding: 2px 0;
}

th {
    background-color: #084945;
    height: 1em;
    font-weight: bold;
    color: white;
    padding: 4px 0;
}

tr {
    border: 1px solid #404040;
    font-weight: lighter;
    padding: 2px 0;
}

/*
top items
 */

.topItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 2em;
    z-index: 10;
    width: 100%;
    row-gap: 0.5em;
}

#lastUpdate {
    background-color: #084743;
    color: white;
    text-align: center;
    font-size: 0.9em;
    height: 1.3em;
    width: 260px;
    padding: 7px 10px;
    z-index: 10;
    border-radius: 8px;
}

#attribution {
    background-color: #FDF6ED;
    color: black;
    text-align: center;
    font-size: 0.7em;
    width: 300px;
    padding: 7px 5px;
    z-index: 10;
    border-radius: 8px;
}

#countriesButtonsContainer {
    z-index: 10;
    background-color: #FDF6ED;
    border-radius: 12px;
}

.countrySelected {
    background-color: #084945;
    color: white;
}

@media only screen and (min-width: 600px) {
    .topItems {
        justify-content: space-between;
    }
    #attribution {
        font-size: 0.5em;
        width: 260px;
        padding: 7px 10px;
        z-index: 10;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 600px) {
    #countriesButtonsContainer {
        display: none;
    }
}

/*
loading layer
 */
#loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/*
legend
 */

#legend {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55%;
    z-index: 5;
    vertical-align: bottom;
    pointer-events: none;
}



.legend {
    position: absolute;
    bottom: 0;
    height: inherit;
    display: none;
}

.legend-inner {
    color: black;
    font-size: 0.7em;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    pointer-events: none;
    height: 40%;
    display: flex;
}

.legend-inner .gradient {
    width: 10px;
    position: relative;
}

.legend-inner .labels {
    width: 5em;
    position: relative;
}

.legend-inner .labels .label {
    position: absolute;
    transform: translateY(50%);
}

.legend-inner .labels .label:before {
    content: '\2013   ';
}

#legend_PM10 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
    background: linear-gradient(to top, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
}

#legend_PM25 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
    background: linear-gradient(to top, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
}


#legend_Official_AQI_US {
    padding: 8px;
    color: black;
    font-size: 0.7em;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    pointer-events: none;
    height: 40%;
    display: flex;
}

#legend_Official_AQI_US .AQI_color {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

#legend_Official_AQI_US ul {
    padding: 0;
    margin: 5px 10px;
    list-style-type: none;
}

#legend_PM10eu .gradient {
    background: -webkit-linear-gradient(bottom, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 100%);
    background: linear-gradient(to top, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 100%);
}

#legend_PM25eu .gradient {
    background: -webkit-linear-gradient(bottom,#50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 87%);
    background: linear-gradient(to top, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 87%);
}

/* REVOIR LE DEROULE DU GRADIENT */

#legend_PM10who .gradient {
    background: -webkit-linear-gradient(bottom, #8bf3ff 0, #fff148 50%, #ff5353 100%);
    background: linear-gradient(to top, #8bf3ff 0%, #fff148 50%, #ff5353 100%);
}

/* REVOIR LE DEROULE DU GRADIENT */

#legend_PM25who .gradient {
    background: -webkit-linear-gradient(bottom, #8bf3ff 0, #fff148 50%, #ff5353 100%);
    background: linear-gradient(to top, #8bf3ff 0%, #fff148 50%, #ff5353 100%);
}

#legend_Temperature .gradient {
    background: -webkit-linear-gradient(bottom, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
    background: linear-gradient(to top, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
}

#legend_Humidity .gradient {
    background: -webkit-linear-gradient(bottom, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
    background: linear-gradient(to top, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
}

#legend_Pressure .gradient {
    background: -webkit-linear-gradient(bottom, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
    background: linear-gradient(to top, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
}

#legend_Noise .gradient {
    background: -webkit-linear-gradient(bottom, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
    background: linear-gradient(to top, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
}


/*
tooltip
 */

.tooltip {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.tooltip-div {
    padding: 8px;
    border-radius: 8px;
    width: auto;
    height: auto
}

.tooltip-text div {
    display: none;
    pointer-events: auto
}

.tooltip-text:hover div {
    display: inline;
    position: absolute;
    overflow: hidden;
    background-color: #FDF6ED;
    font-size: 1.2em;
    z-index: 15;
    margin-left: 5px
}
/*
graph
 */

#table {
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    pointer-events: all;
    max-height: 90vh;
}

#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: white;
}
@media only screen and (max-width: 600px) {
    #modal {
        top: 0;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {
    #modal {;
        width: 320px;
        right: 15px;
        bottom: 75px;
        height: initial;
    }
}

#mainContainer {
    margin: auto;
    padding: 20px;
    position: sticky;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.externalLink {
    height: 0.8em;
    width: 0.8em;
    margin-left: 2px;
    rotate: -45deg;
}

.custom-select {
    color: #084945;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    border-radius: 8px;
    width: 100%;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

/*style the items (options), including the selected item:*/
.select-items div {
    cursor: pointer;
    user-select: none;
    padding: 0.9em;
    border-bottom: #C2C2C2 solid 1px;
}

.select-selected {
    background-color: #084945;
    color: white;
}

.layerSelect {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #EDFDFC;
    border-radius: 8px;
}
.layerSelect li {
    display: block;
    line-height: 2.2em;
}

[type="checkbox"] {
    position: relative;
    top: -1px;
    z-index: 0;
    -webkit-appearance: none;
}
[type="checkbox"] + label::before {
    width: 1.5em;
    height: 1.5em;
    border-radius: 25px;
    border: 2px solid #084945;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}
[type="checkbox"]:checked+label::before {
    box-shadow: inset 0 0 0 3px #fff;
    background-color: #084945;
}

#explanation {
    color: black;
    cursor: pointer;
    font-size: 1em;
}

#map-info {
    display: none;
    padding: 10px;
    color: black;
}

/*
leaflet map
 */

.leaflet-pane > svg .d3-overlay path {
    cursor: help;
    pointer-events: all;
}

img.leaflet-tile {
    filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
    -webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
}

.idsens {
    cursor: pointer;
}

.hexbin-hexagon {
    stroke-width: 0;
}

.labs_facebook:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/facebook.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_twitter:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/twitter.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_github:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/github.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_gitlab:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/gitlab.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_mastodon:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/mastodon.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_meetup:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/meetup.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_telegram:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/telegram.svg");
    width: 15px;
    vertical-align: middle;
}

.labs_sociallinks {
    border: none;
    width: auto;
}

.labs_sociallinks td, .labs_sociallinks tr {
    text-align: left;
    vertical-align: middle;
    border: none;
}

/*
Menu
*/
.menuButton {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 25;
    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: #084945;
    border-style: solid;
    border-color: #084945;
    color: white;
}
