/*
general tags
 */

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

table {
    font-family: arial, sans-serif;
    width: 30vw;
    border: 1px solid #404040;
    border-collapse: collapse;
    background: transparent;
    margin: auto;
}

td {
    background-color: transparent;
    border: 1px solid #404040;
    height: 0.8em;
    text-align: center;
    padding: 2px;
}

th {
    background-color: rgba(56, 181, 173, 0.7);
    border: 1px solid #404040;
    height: 1em;
    font-weight: bold;
    color: white;
    padding: 4px;
}

tr {
    background-color: transparent;
    border: 1px solid #404040;
    font-weight: lighter;
    padding: 2px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    width: 100%;
    pointer-events: auto;
}

/*
loading layer
 */

#loading_layer {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(250,250,250,0.4);
}
#loading {
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: Arial,serif;
    font-size: 200%;
    font-weight: bold;
}

/*
top items
 */

#update {
    color: white;
    font-weight: bold;
    background-color: rgba(56, 181, 173, 1);
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/*
legend
 */

#legend {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25em;
    height: 40%;
    z-index: 10;
    vertical-align: bottom;
    pointer-events: none;
}

.legend {
    font-family: arial, sans-serif;;
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    height: 100%;
    display: inline-grid;
}

.legend-inner {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    pointer-events: none;
    height: 40%;
    display: flex;
}

.legend-inner .gradient {
    width: 15px;
    position: relative;
}

.legend-inner .labels {
    width: 3.25em;
    position: relative;
}

.legend-inner .labels .label {
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.legend-inner .labels .label:before {
    content: '\2013   ';
}

#legend_PM10 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
    background: linear-gradient(to top, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
}

#legend_PM25 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
    background: linear-gradient(to top, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
}


/* 
#50F0E6
#50CCAA
#F0E641
#FF5050
#960032
#7D2181
 */


#legend_PM10eu .gradient {
    background: -webkit-linear-gradient(bottom, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 100%);
    background: linear-gradient(to top, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 100%);
}


#legend_PM25eu .gradient {
    background: -webkit-linear-gradient(bottom,#50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 87%);
    background: linear-gradient(to top, #50F0E6 0%, #50F0E6 10%, #50CCAA 30%, #F0E641 50%, #FF5050 67%, #960032 81%, #7D2181 87%);
}

/* REVOIR LE DEROULE DU GRADIENT */

#legend_PM10who .gradient {
    background: -webkit-linear-gradient(bottom, #8bf3ff 0, #fff148 50%, #ff5353 100%);
    background: linear-gradient(to top, #8bf3ff 0%, #fff148 50%, #ff5353 100%);
}

/* REVOIR LE DEROULE DU GRADIENT */

#legend_PM25who .gradient {
    background: -webkit-linear-gradient(bottom, #8bf3ff 0, #fff148 50%, #ff5353 100%);
    background: linear-gradient(to top, #8bf3ff 0%, #fff148 50%, #ff5353 100%);
}

#legend_Temperature .gradient {
    background: -webkit-linear-gradient(bottom, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
    background: linear-gradient(to top, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
}

#legend_Humidity .gradient {
    background: -webkit-linear-gradient(bottom, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
    background: linear-gradient(to top, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
}

#legend_Pressure .gradient {
    background: -webkit-linear-gradient(bottom, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
    background: linear-gradient(to top, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
}

#legend_Noise .gradient {
    background: -webkit-linear-gradient(bottom, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
    background: linear-gradient(to top, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
}

#legend_Official_AQI_US {
    width: 10em;
    height: auto;
    padding: 10px;
}

#legend_Official_AQI_US .AQI_color {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

#legend_Official_AQI_US ul {
    padding: 0;
    margin: 5px 10px;
    list-style-type: none;
}

/*
tooltip
 */

.tooltip {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.tooltip-div {
    padding: 5px;
    border-radius: 5px;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    height: auto
}

.tooltip-text div {
    display: none;
    pointer-events: auto
}

.tooltip-text:hover div {
    display: inline;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: #38b5ad;
    z-index: 1000;
    margin-left: 5px
}
/*
graph
 */

#table {
    /*	position: absolute; */
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-family: arial, sans-serif;
    color: black;
    font-size: 15px;
    pointer-events: all;
    border-radius: 2px;
    max-height: 90vh;
}

#current {
    background-color: rgba(56, 181, 173, 1);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    top: 0;
    left: 50px;
    position: absolute;
    z-index: 900;
    padding: 5px 10px;
}

#menu {
    background-color: rgba(56, 181, 173, 1);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1200;
    padding: 5px 10px;
}

#menu:hover, #menu:focus {
    background-color: rgb(49, 135, 127);
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: none;
    z-index: 1000;
    background-color: rgba(250, 250, 250, 1);
}

#mainContainer {
    position: absolute;
    height: 100vh;
    border-radius: 4px;
    width: 50vw;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    left: 15px;
    right: 15px;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}


/*
country buttons
 */

#countriesButtonsContainer {
    box-shadow: none;
    margin: 0;
    padding: 8px 16px;
    z-index: 1000;
    min-height: 33px;
    box-sizing: content-box;
}

.countriesButtons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding:10px;
}

#countriesButtonsContainer button {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.countryButton {
    font-family: "Inter",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    border-radius: 4px;
    padding: 8px 12px;
    outline: 0 !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: background-color 100ms ease-out,border-color 100ms ease-out;
    transition: background-color 100ms ease-out,border-color 100ms ease-out;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    background-color: #FFF;
    border-color: #C2C2C2;
    border-bottom-color: #969696;
    color: #222;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-right-width: 0;
    margin: 0;
}

.countryButtonselected {
    font-family: "Inter",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 8px 12px;
    outline: 0 !important;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: background-color 100ms ease-out,border-color 100ms ease-out;
    transition: background-color 100ms ease-out,border-color 100ms ease-out;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    border-color: #C2C2C2;
    color: #222;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),0 3px 7px rgba(0, 0, 0, 0.15) inset;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-right-width: 0;
    margin: 0;
}

#custom-select{
left: 25%;
}

.custom-select {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    width: 25vw;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    position: absolute;
    top: 5rem;
    margin: auto auto auto 1rem;
    pointer-events: auto;
}

.custom-select:hover, .custom-select:focus {
    /* background-color: rgb(49, 135, 127); */
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    bottom: 0;
    /* width: 100%; */
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(56, 181, 173, 0.8);
    border-radius: 8px;
}

.select-items {
    position: relative;
    bottom: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-items div:hover, .same-as-selected {
    border-radius: 8px;
    background-color: rgb(49, 135, 127);
}

.layer-select {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 25vw;
    display: inline-block;
    background-color: rgba(56, 181, 173, 0.8);
    border-radius: 8px;
    border: 1px solid transparent;
    position: absolute;
    top: 37rem;
    margin-left: 1rem;
    pointer-events: auto;
    /* margin: auto; */
    left: 25%;
}

.layer-select:hover, .layer-select:focus {
    background-color: rgb(49, 135, 127);
}

.link-div {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 25vw;
    display: inline-block;
    position: absolute;
    top: 40rem;
    margin-left: 1rem;
    pointer-events: auto;
    /* margin: 0 auto; */
    left: 25%;
}

.link{
    background-color: rgba(56, 181, 173, 0.8);
    border-radius: 8px;
    border: 1px solid transparent;
    height: 2em;
text-align: center;
line-height: 35px;
}

.link:hover, .link:focus {
    background-color: rgb(49, 135, 127);
}

#explanation {
    font-family: arial, sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
    left: 60px;
    position:absolute;
    top:15px;
}

#map-info {
    padding: 10px;
    font-family: arial, sans-serif;
    color: black;
    position: relative;
    top: 3rem;
}

/*
leaflet map
 */

.leaflet-top {
    top: 60px;
}

.leaflet-pane > svg .d3-overlay path {
    cursor: help;
    pointer-events: all;
}

img.leaflet-tile {
    filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
    -webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
}

.idsens {
    cursor: pointer;
}

.hexbin-hexagon {
    stroke-width: 0;
}

.leaflet-control {
    margin-top: 10px !important;
}

.labs_facebook:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/facebook.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_twitter:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/twitter.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_github:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/github.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_gitlab:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/gitlab.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_mastodon:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/mastodon.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_meetup:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/meetup.svg");
    width: 15px;
    vertical-align: middle;
}
.labs_telegram:before {
    display: inline-block;
    padding-right: 5px;
    content: url("../images/telegram.svg");
    width: 15px;
    vertical-align: middle;
}

.labs_sociallinks {
    border: none;
    width: auto;
}

.labs_sociallinks td, .labs_sociallinks tr {
    text-align: left;
    vertical-align: middle;
    border: none;
}

.leaflet-control-velocity {
    display: none;
}

.leaflet-control-geosearch {
    margin-top: 10px !important;
}

.leaflet-control-geosearch form input {
    height: 30px !important;
}

.leaflet-control-locate {
    margin-top: 10px !important;
    font-weight: bolder;
    font-size: 150%;
}

.leaflet-bar-part span:before {
    content: "⌖";
}
.leaflet-bar-part span {
    position: relative;
    top: -3px;
}